@model SnuggleDestructionBangazonWorkforce.Models.ViewModels.TrainingProgramDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Training Program</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.MaxAttendees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.MaxAttendees)
        </dd>
    </dl>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Attending Employees
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AttendingEmployees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainingProgram.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
