@model SnuggleDestructionBangazonWorkforce.Models.Computer

@{
    ViewData["Title"] = "Alert";
}

<h2>Alert</h2>

<h3>Sorry, this computer can't be deleted because it's associated with an employee.</h3>
<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DecomissionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DecomissionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
    </dl>
    
    <form asp-action="Alert">
        <a asp-action="Index">Back to List</a>
    </form>
</div>
